<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <!--左側の部分-->
    <%= render "books/left_list", user: @user, book: @book %>
    <!--右側の一覧表示部分-->
    <div class=" col-md-8 offset-md-1">
      <h2>Books</h2>
      <table style="width:100%">
        <thead>
          <tr class="border-top border-2">
            <th class="p-2 col-md-3"></th>
            <th class="p-2 col-md-4">Title</th>
            <th class="p-2 col-md-5">Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr class="border-top border-2">
            <td class="p-2">
              <%= link_to user_path(book.user_id) do%>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td class="p-2" %>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td class="p-2"><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>