<%= flash[:notice] %>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <!--左側の部分-->
    <%= render "left_list", user: @user, book: @book %>
    <!--右側の一覧表示部分-->
    <div class=" col-md-8 offset-md-1">
      <h2>Books</h2>
      <table style="width:100%">
        <thead>
          <tr class="border-top border-2">
            <th class="p-2 col-md-2"></th>
            <th class="p-2 col-md-3">Title</th>
            <th class="p-2 col-md-4">Opinion</th>
            <th class="p-2 col-md-1"></th>
            <th class="p-2 col-md-3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr class="border-top border-2">
            <td class="p-2">
              <%= link_to user_path(book.user_id) do%>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td class="p-2" %>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td class="p-2"><%= book.body %></td>
            <!--いいね-->
            <td>
              <% if book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                    <i class="fas fa-heart"></i><%= book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(book), method: :post do %>
                    <i class="far fa-heart"></i><%= book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <!--コメント数-->
            <td>
              <p>コメント数:<%= book.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>